@page "/app/agency/change/{Id}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using FizeRegistration.Client.Components.PartOfTheSite
@attribute [Authorize(Roles = "User")]



<div class="basicBox" style="background:white;height: 800px; width:1150px">
    @if (!SuccessfulAgency)
    {
        <LeftBoxInformation></LeftBoxInformation>
        <EditForm Model="@_agencyInformation" OnValidSubmit="@ContinueNext">
            <DataAnnotationsValidator />
            <div class="rightBoxAgency">
                <div style="margin-left: 115px; border-bottom: 1px solid #00000012;;  margin-right: 180px; margin-top: 50px; font-weight: 800; font-size: 15pt; height: 40px; margin-bottom: 15px;">
                    Let`s set up your agency
                </div>
                <div>
                    <div style="display:flex">
                        <div style="margin-left: 115px;margin-right: 35px; display:grid">
                            <LabelDetails TextOverLabel="Agency Name" PlaceHolder="Enter your agency name" @bind-TextValidate="_agencyInformation.AgencyName"></LabelDetails>
                            <ValidationMessage For="@(() => _agencyInformation.AgencyName)" class="glyphicon glyphicon-remove" style="height: 0px;font-size: 10pt;" />
                        </div>
                        <div>
                            <label class="TextAgency" for="website">WebSite </label>
                            <div class="input-icons">
                               <ComponentDetailsIcons @bind-TextValidate="_agencyInformation.WebSite" NameIcons="fa fa-globe icon" PlaceHolder="Enter your company website"></ComponentDetailsIcons>
                                <ValidationMessage For="@(() => _agencyInformation.WebSite)" style="height: 0px;font-size: 10pt;" />
                            </div>
                        </div>
                    </div>
                    <div style="display:flex "> 
                        <div style="margin-left: 115px; margin-top: 25px;margin-right: 35px;">
                            <label class="TextAgency">Brand Color</label>
                            <LableColor @bind-ColorId="_agencyInformation.Color"></LableColor>
                        </div>
                        <div style="margin-top: 25px; ">
                            <div>
                                <label class="TextAgency" for="logo">Logo </label>
                                <div class="input-icons" style=" display: flex;">
                                    <i class="fa fa-upload icon"></i>
                                    <input id="logo" class="LabelAgency input-field"
                                       placeholder="Drag & drop it here or upload" style="text-indent: 30px;width: 210px; border-right: none;" />
                                    <div style="height: 41px; border: 2px solid #00000012; border-left: none;padding: 4px; width:80px;">
                                        <InputFile class="custom-file-input" OnChange="OnLinkLogoFilesChange" style="width: 70px;" />
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => _agencyInformation.Logo)" style="height: 0px;font-size: 10pt;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 115px; ">
                    <div style="border-bottom: 1px solid #00000012; margin-right: 180px; margin-top: 25px; font-weight: 800;  font-size: 15pt; margin-bottom: 20px;">
                        Let`s set up your profile
                    </div>
                    <div style="font-size: 10pt;  font-weight: 800; margin-bottom: 8px;">Picture</div>
                    <div style="display:flex">
                        @if (isLoading)
                        {
                            <img src="@base64PictureData" style="height: 88px; width: 88px; border-radius: 50%; border: 2px solid #00000012; " />
                        }
                        else
                        {
                            <img src="@_urlPicture" style="height: 88px; width: 88px; border-radius: 50%; border: 2px solid #00000012; " />
                        }

                        @*@if (isLoadingLogo)
                        {
                            <img src="@base64LogoData" style="height: 88px; width: 88px; border-radius: 50%; border: 2px solid #00000012; " />
                        }
                        else
                        {
                            <img src="@_urlLogo" style="height: 88px; width: 88px; border-radius: 50%; border: 2px solid #00000012; " />
                        }*@
                        <InputFile class="custom-file-upload" OnChange="OnLinkPictureFilesChange"
                               style="align-self: center;margin-left: 10px; width:70px;" multiple accept=".jpg,.jpeg,.png" />
                    </div>
                </div>
                <div>
                    <div></div> 
                    <div style="display:flex">
                        <div style="display: grid;margin-left: 115px;margin-right: 35px; margin-top:15px">
                            <LabelDetails @bind-TextValidate="_agencyInformation.FirstName" 
                                TextOverLabel="First Name" 
                                PlaceHolder="Enter your first name">
                            </LabelDetails>
                            <ValidationMessage For="@(() => _agencyInformation.FirstName)" style="height: 0px;font-size: 10pt;" />
                        </div>
                        <div style="display: grid;margin-top:15px">
                            <LabelDetails @bind-TextValidate="_agencyInformation.LastName"
                                TextOverLabel="Last Name" 
                                PlaceHolder="Enter your last name" >
                            </LabelDetails>

                            <ValidationMessage For="@(() => _agencyInformation.LastName)" style="height: 0px;font-size: 10pt;" />
                        </div>
                    </div>
                    <div style="display:flex">
                        <div style="display: grid;margin-left: 115px; margin-top: 25px;margin-right: 35px; ">
                            <label class="TextAgency" for="link">Link </label>
                            <div class="input-icons">
                                 <ComponentDetailsIcons @bind-TextValidate="_agencyInformation.Link" 
                               NameIcons="fa fa-link icon" 
                               PlaceHolder="Enter link here">
                           </ComponentDetailsIcons>
                                <ValidationMessage For="@(() => _agencyInformation.Link)" style="height: 0px;font-size: 10pt;" />
                            </div>
                        </div>
                        <div style="display: grid;margin-top: 25px;">
                            <label class="TextAgency" for="phonenumbers">PhoneNumbers </label>
                            <div class="input-icons">
                               <ComponentDetailsIcons @bind-TextValidate="_agencyInformation.PhoneNumbers" 
                               NameIcons="fa  fa-phone icon" 
                               PlaceHolder="Enter a valid phone number">
                           </ComponentDetailsIcons>
                                <ValidationMessage For="@(() => _agencyInformation.PhoneNumbers)" style="height: 0px;font-size: 10pt;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 115px;">
                    <div style="width: 616px; background: #00000012; height: 1px;  margin-top: 25px; margin-bottom: 15px;">
                    </div>
                    <button style="height: 40px; width: 140px; background: white; color: black; font-weight: 800;"
                        @onclick="CheckAgency">
                        Look Agency
                    </button>
                    <button type="submit"
                        style="float: right; margin-right: 180px; height: 40px;  width: 140px; background: black; color: white; font-weight: 800;">
                        Change
                    </button>
                </div>
            </div>
        </EditForm>
    }
    else
    {
        <SuccessefulBlock></SuccessefulBlock>
    }
</div>
@code {

}